.item1 { grid-area: menu; }
.item2 { grid-area: left; }
.item3 { grid-area: mid; }
.item4 { grid-area: right; }
.item5 { grid-area: text; }

.grid-container {
  display: grid;
  /* display: flex; */
  /* justify-content: space-around; */
  grid-template-areas:
    'menu menu menu menu menu menu'
    'left left mid mid right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}